
header{
    background: black;
    width: 100vw;
    height: 50px;
    color: white;
    text-align: center;
}
table{
    border: 1px solid black;
    background-color: blanchedalmond;
    width: 800px;
}
th {
    background:blue;
    color: red;
}
td {
text-align: center;
}
a {
        text-decoration:none;
    }
body{
background-color: aqua;
}     